SinaDesktop/Service References/SinaDataService/SinaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SinaDesktop.Web/SinaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" />
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetTokenResult" nillable="true" type="q1:ArrayOfTokenKeyCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="VerifyCredentialsResult" nillable="true" type="q2:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendTimeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetFriendTimelineResult" nillable="true" type="q3:ArrayOfFriendTimelineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavorites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetFavoritesResult" nillable="true" type="q4:ArrayOfFavoriteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentTimeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetCommentTimelineResult" nillable="true" type="q5:ArrayOfCommentTimelineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadHttpWebRequestByoAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadHttpWebRequestByoAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadHttpWebRequestByoAuthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMentions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMentionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetMentionsResult" nillable="true" type="q6:ArrayOfMentionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetDirectMessagesResult" nillable="true" type="q7:ArrayOfDirectMessageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreaderMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sinceid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreaderMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetUnreaderMessageResult" nillable="true" type="q8:UnreadMessageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCommentByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepostStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isComment" type="xs:int" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepostStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RepostStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFavorite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFavoriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="CreateFavoriteResult" nillable="true" type="q9:FavoriteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavorite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="DeleteFavoriteResult" nillable="true" type="q10:FavoriteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmotions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmotionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetEmotionsResult" nillable="true" type="q11:ArrayOfEmotionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFriendships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFriendshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFriendshipsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTimeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetUserTimelineResult" nillable="true" type="q12:ArrayOfFriendTimelineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q13:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsTimelineByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsTimelineByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetCommentsTimelineByIDResult" nillable="true" type="q14:ArrayOfCommentTimelineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status_ReplyComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="twitterid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentcontent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status_ReplyCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Status_ReplyCommentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SinaDesktop.Web" minOccurs="0" name="GetFollowerResult" nillable="true" type="q15:ArrayOfFollowerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="twitterid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Status_DeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>